In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

import pandas as pd
pd.read_csv('Book1.csv')
type(pd.read_csv('Book1.csv'))

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('Book1.csv')

In [ ]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|  Name |Age|
|  Aryan| 24|
|  Sahil| 23|
|   Betu| 22|
|   Ishu| 32|
|Krishna| 23|
|   Golu| 43|
|   Bhim| 22|
+-------+---+

In [ ]:
df_pyspark=spark.read.option('header', 'true').csv('Book1.csv')

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name ='Aryan', Age='24'),
 Row(Name ='Sahil', Age='23'),
 Row(Name ='Betu', Age='22')]

In [ ]:
df_pyspark.head(5)

[Row(Name ='Aryan', Age='24'),
 Row(Name ='Sahil', Age='23'),
 Row(Name ='Betu', Age='22'),
 Row(Name ='Ishu', Age='32'),
 Row(Name ='Krishna', Age='23')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)

#Pyspark introduction ended now we will start some practise now ahead

now we will cover thee points in details
1:- PySpark Dataframe
2:- Readinig the dataset
3:- checking the datatypes of the column(schema)
4:- selesting columns and indexing
5:- check desribe option similar to pandas
6:- adding columns
7:- dropping columns

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
pd.read_csv('Book.csv')

        Name   Age  Experience
0      Aryan    23           2
1       Sahil   24           2
2      Mayank   32           3
3       Manas   23           2
4    Pratyush   21           1
5     Kshitiz   25           1
6       Ayush   22           2
7       Akash   23           2
8   Priyanshu   24           2
9       Surya   26           3
10      Kiran   42           4
11       Monu   52           5
12      Dholu   32           4
13   Siddhant   43           6

In [ ]:
df_pyspark = spark.read.option('header','true').csv('Book.csv',inferSchema = True)

In [ ]:
## Check the schema
## Schema means datatypes in pandas
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_pyspark = spark.read.csv('Book.csv', header = True, inferSchema = True)
df_pyspark.show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|   Aryan | 23|         2|
|    Sahil| 24|         2|
|   Mayank| 32|         3|
|    Manas| 23|         2|
| Pratyush| 21|         1|
|  Kshitiz| 25|         1|
|    Ayush| 22|         2|
|    Akash| 23|         2|
|Priyanshu| 24|         2|
|    Surya| 26|         3|
|    Kiran| 42|         4|
|     Monu| 52|         5|
|    Dholu| 32|         4|
| Siddhant| 43|         6|
+---------+---+----------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['Name ', 'Age', 'Experience']

In [ ]:
df_pyspark.head(4)

[Row(Name ='Aryan ', Age=23, Experience=2),
 Row(Name ='Sahil', Age=24, Experience=2),
 Row(Name ='Mayank', Age=32, Experience=3),
 Row(Name ='Manas', Age=23, Experience=2)]

In [ ]:
df_pyspark.show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|   Aryan | 23|         2|
|    Sahil| 24|         2|
|   Mayank| 32|         3|
|    Manas| 23|         2|
| Pratyush| 21|         1|
|  Kshitiz| 25|         1|
|    Ayush| 22|         2|
|    Akash| 23|         2|
|Priyanshu| 24|         2|
|    Surya| 26|         3|
|    Kiran| 42|         4|
|     Monu| 52|         5|
|    Dholu| 32|         4|
| Siddhant| 43|         6|
+---------+---+----------+

In [ ]:
df_pyspark.select('Name ')### This will give the output like this (DataFrame[Name : string]) now if we want to see the full column we have to use .show()
df_pyspark.select('Name ').show()### Similarly we will practise the next 2 also
df_pyspark.select('Age').show()
df_pyspark.select('Experience').show()

+---------+
|    Name |
+---------+
|   Aryan |
|    Sahil|
|   Mayank|
|    Manas|
| Pratyush|
|  Kshitiz|
|    Ayush|
|    Akash|
|Priyanshu|
|    Surya|
|    Kiran|
|     Monu|
|    Dholu|
| Siddhant|
+---------+

+---+
|Age|
+---+
| 23|
| 24|
| 32|
| 23|
| 21|
| 25|
| 22|
| 23|
| 24|
| 26|
| 42|
| 52|
| 32|
| 43|
+---+

+----------+
|Experience|
+----------+
|         2|
|         2|
|         3|
|         2|
|         1|
|         1|
|         2|
|         2|
|         2|
|         3|
|         4|
|         5|
|         4|
|         6|
+----------+

In [ ]:
###now lets check the types of each of the columns seperately
type(df_pyspark.select('Name '))
type(df_pyspark.select('Age'))
type(df_pyspark.select('Experience'))

pyspark.sql.dataframe.DataFrame

In [ ]:
###now lets try to pick up 2 columns together
df_pyspark.select(['Age', 'Experience']).show()
df_pyspark.select(['Age', 'Name ']).show()
df_pyspark.select(['Name ', 'Age']).show()
df_pyspark.select(['Name ', 'Experience']).show()

+---+----------+
|Age|Experience|
+---+----------+
| 23|         2|
| 24|         2|
| 32|         3|
| 23|         2|
| 21|         1|
| 25|         1|
| 22|         2|
| 23|         2|
| 24|         2|
| 26|         3|
| 42|         4|
| 52|         5|
| 32|         4|
| 43|         6|
+---+----------+

+---+---------+
|Age|    Name |
+---+---------+
| 23|   Aryan |
| 24|    Sahil|
| 32|   Mayank|
| 23|    Manas|
| 21| Pratyush|
| 25|  Kshitiz|
| 22|    Ayush|
| 23|    Akash|
| 24|Priyanshu|
| 26|    Surya|
| 42|    Kiran|
| 52|     Monu|
| 32|    Dholu|
| 43| Siddhant|
+---+---------+

+---------+---+
|    Name |Age|
+---------+---+
|   Aryan | 23|
|    Sahil| 24|
|   Mayank| 32|
|    Manas| 23|
| Pratyush| 21|
|  Kshitiz| 25|
|    Ayush| 22|
|    Akash| 23|
|Priyanshu| 24|
|    Surya| 26|
|    Kiran| 42|
|     Monu| 52|
|    Dholu| 32|
| Siddhant| 43|
+---------+---+

+---------+----------+
|    Name |Experience|
+---------+----------+
|   Aryan |         2|
|    Sahil|         2|
|   Mayank|         3|
|    Manas|         2|
| Pratyush|         1|
|  Kshitiz|         1|
|    Ayush|         2|
|    Akash|         2|
|Priyanshu|         2|
|    Surya|         3|
|    Kiran|         4|
|     Monu|         5|
|    Dholu|         4|
| Siddhant|         6|
+---------+----------+

In [ ]:
df_pyspark['Name ']

Column<'Name '>

In [ ]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary|Name |               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|   14|                14|                14|
|   mean| NULL|29.428571428571427|2.7857142857142856|
| stddev| NULL|   9.6293963842639|1.4769288003552106|
|    min|Akash|                21|                 1|
|    max|Surya|                52|                 6|
+-------+-----+------------------+------------------+

In [ ]:
### Addinig the columns in the data frames
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2).show()

+---------+---+----------+------------------------+
|    Name |Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|   Aryan | 23|         2|                       4|
|    Sahil| 24|         2|                       4|
|   Mayank| 32|         3|                       5|
|    Manas| 23|         2|                       4|
| Pratyush| 21|         1|                       3|
|  Kshitiz| 25|         1|                       3|
|    Ayush| 22|         2|                       4|
|    Akash| 23|         2|                       4|
|Priyanshu| 24|         2|                       4|
|    Surya| 26|         3|                       5|
|    Kiran| 42|         4|                       6|
|     Monu| 52|         5|                       7|
|    Dholu| 32|         4|                       6|
| Siddhant| 43|         6|                       8|
+---------+---+----------+------------------------+

In [ ]:
### Now lets try for after 4 years and 10 years seperately
df_pyspark.withColumn('Experience After 4 years', df_pyspark['Experience']+4).show()
df_pyspark.withColumn('Experience after 10 years', df_pyspark['Experience']+10).show()

+---------+---+----------+------------------------+
|    Name |Age|Experience|Experience After 4 years|
+---------+---+----------+------------------------+
|   Aryan | 23|         2|                       6|
|    Sahil| 24|         2|                       6|
|   Mayank| 32|         3|                       7|
|    Manas| 23|         2|                       6|
| Pratyush| 21|         1|                       5|
|  Kshitiz| 25|         1|                       5|
|    Ayush| 22|         2|                       6|
|    Akash| 23|         2|                       6|
|Priyanshu| 24|         2|                       6|
|    Surya| 26|         3|                       7|
|    Kiran| 42|         4|                       8|
|     Monu| 52|         5|                       9|
|    Dholu| 32|         4|                       8|
| Siddhant| 43|         6|                      10|
+---------+---+----------+------------------------+

+---------+---+----------+-------------------------+
|    Name |Age|Experience|Experience after 10 years|
+---------+---+----------+-------------------------+
|   Aryan | 23|         2|                       12|
|    Sahil| 24|         2|                       12|
|   Mayank| 32|         3|                       13|
|    Manas| 23|         2|                       12|
| Pratyush| 21|         1|                       11|
|  Kshitiz| 25|         1|                       11|
|    Ayush| 22|         2|                       12|
|    Akash| 23|         2|                       12|
|Priyanshu| 24|         2|                       12|
|    Surya| 26|         3|                       13|
|    Kiran| 42|         4|                       14|
|     Monu| 52|         5|                       15|
|    Dholu| 32|         4|                       14|
| Siddhant| 43|         6|                       16|
+---------+---+----------+-------------------------+

In [ ]:
### Experience before 1 years
df_pyspark.withColumn('Experience before 1 year', df_pyspark['Experience']-1).show()

+---------+---+----------+------------------------+
|    Name |Age|Experience|Experience before 1 year|
+---------+---+----------+------------------------+
|   Aryan | 23|         2|                       1|
|    Sahil| 24|         2|                       1|
|   Mayank| 32|         3|                       2|
|    Manas| 23|         2|                       1|
| Pratyush| 21|         1|                       0|
|  Kshitiz| 25|         1|                       0|
|    Ayush| 22|         2|                       1|
|    Akash| 23|         2|                       1|
|Priyanshu| 24|         2|                       1|
|    Surya| 26|         3|                       2|
|    Kiran| 42|         4|                       3|
|     Monu| 52|         5|                       4|
|    Dholu| 32|         4|                       3|
| Siddhant| 43|         6|                       5|
+---------+---+----------+------------------------+

In [ ]:
### Droping the columns from the dataset
df_pyspark.drop('Experience before 1 year').show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|   Aryan | 23|         2|
|    Sahil| 24|         2|
|   Mayank| 32|         3|
|    Manas| 23|         2|
| Pratyush| 21|         1|
|  Kshitiz| 25|         1|
|    Ayush| 22|         2|
|    Akash| 23|         2|
|Priyanshu| 24|         2|
|    Surya| 26|         3|
|    Kiran| 42|         4|
|     Monu| 52|         5|
|    Dholu| 32|         4|
| Siddhant| 43|         6|
+---------+---+----------+

In [ ]:
df_pyspark.drop('Age').show()

+---------+----------+
|    Name |Experience|
+---------+----------+
|   Aryan |         2|
|    Sahil|         2|
|   Mayank|         3|
|    Manas|         2|
| Pratyush|         1|
|  Kshitiz|         1|
|    Ayush|         2|
|    Akash|         2|
|Priyanshu|         2|
|    Surya|         3|
|    Kiran|         4|
|     Monu|         5|
|    Dholu|         4|
| Siddhant|         6|
+---------+----------+

In [ ]:
### Rename the columns
df_pyspark.withColumnRenamed('Name ', 'New Name').show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|   Aryan | 23|         2|
|    Sahil| 24|         2|
|   Mayank| 32|         3|
|    Manas| 23|         2|
| Pratyush| 21|         1|
|  Kshitiz| 25|         1|
|    Ayush| 22|         2|
|    Akash| 23|         2|
|Priyanshu| 24|         2|
|    Surya| 26|         3|
|    Kiran| 42|         4|
|     Monu| 52|         5|
|    Dholu| 32|         4|
| Siddhant| 43|         6|
+---------+---+----------+

Pyspark Handling Missing Values

1:- Dropping Columns
2:- Dropping Rows
3:- Various Parameters in Dropping functionalities.
4:- Handling Missing values by Mean, Median, Mode.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df_pysparkk = spark.read.csv('book211.csv', header = True, inferSchema = True)

In [ ]:
df_pysparkk.show(35)

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Sahil|  23|        12| 30000|
|   Golu|  24|        12| 30000|
|    Ram|  22|         4| 25000|
| Govind|  34|         1| 32000|
| Shayam|  23|         2| 12000|
| Pritam|  34|         3| 54000|
|Pratham|  45|         5| 23000|
| Greece|  65|         3| 13000|
| Nebula|  45|         5| 63000|
|  Sohan|  32|         3| 52000|
|  Mohan|  12|         1| 51000|
|Nishant|  14|         2| 64000|
|Krishna|  15|         6| 12000|
| Kanaha|  16|         7| 31000|
|    Sam|  23|         4| 34000|
|  Suhan|  35|        23| 54000|
|  Levan|  36|        12| 73000|
|  Devan|  32|         3| 84000|
|   Ryan|  52|        12| 73000|
|  Aryan|  21|        11| 75000|
|Shubham|  24|         3| 54000|
| Deepak|  54|         2| 73000|
|   Atul|  23|        21| 43000|
| Mayank|  43|         2| 60000|
|Shivank|  29|         7| 50000|
|   Dtar|  42|         0| 80000|
|   Eyon|  13|         3| 98000|
|singham|NULL|         9|  NULL|
|roberto|  56|        87|  NULL|
| johnny|  23|      NULL| 78000|
|   NULL|  28|      NULL| 86000|
|   NULL|NULL|         8|  NULL|
+-------+----+----------+------+

In [ ]:
df_pysparkk.drop('Name').show(35)

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  23|        12| 30000|
|  24|        12| 30000|
|  22|         4| 25000|
|  34|         1| 32000|
|  23|         2| 12000|
|  34|         3| 54000|
|  45|         5| 23000|
|  65|         3| 13000|
|  45|         5| 63000|
|  32|         3| 52000|
|  12|         1| 51000|
|  14|         2| 64000|
|  15|         6| 12000|
|  16|         7| 31000|
|  23|         4| 34000|
|  35|        23| 54000|
|  36|        12| 73000|
|  32|         3| 84000|
|  52|        12| 73000|
|  21|        11| 75000|
|  24|         3| 54000|
|  54|         2| 73000|
|  23|        21| 43000|
|  43|         2| 60000|
|  29|         7| 50000|
|  42|         0| 80000|
|  13|         3| 98000|
|NULL|         9|  NULL|
|  56|        87|  NULL|
|  23|      NULL| 78000|
|  28|      NULL| 86000|
|NULL|         8|  NULL|
+----+----------+------+

In [ ]:
df_pysparkk.show(35)

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Sahil|  23|        12| 30000|
|   Golu|  24|        12| 30000|
|    Ram|  22|         4| 25000|
| Govind|  34|         1| 32000|
| Shayam|  23|         2| 12000|
| Pritam|  34|         3| 54000|
|Pratham|  45|         5| 23000|
| Greece|  65|         3| 13000|
| Nebula|  45|         5| 63000|
|  Sohan|  32|         3| 52000|
|  Mohan|  12|         1| 51000|
|Nishant|  14|         2| 64000|
|Krishna|  15|         6| 12000|
| Kanaha|  16|         7| 31000|
|    Sam|  23|         4| 34000|
|  Suhan|  35|        23| 54000|
|  Levan|  36|        12| 73000|
|  Devan|  32|         3| 84000|
|   Ryan|  52|        12| 73000|
|  Aryan|  21|        11| 75000|
|Shubham|  24|         3| 54000|
| Deepak|  54|         2| 73000|
|   Atul|  23|        21| 43000|
| Mayank|  43|         2| 60000|
|Shivank|  29|         7| 50000|
|   Dtar|  42|         0| 80000|
|   Eyon|  13|         3| 98000|
|singham|NULL|         9|  NULL|
|roberto|  56|        87|  NULL|
| johnny|  23|      NULL| 78000|
|   NULL|  28|      NULL| 86000|
|   NULL|NULL|         8|  NULL|
+-------+----+----------+------+

In [ ]:
df_pysparkk.na.fill('Missing Values').show(35)

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Sahil|  23|        12| 30000|
|          Golu|  24|        12| 30000|
|           Ram|  22|         4| 25000|
|        Govind|  34|         1| 32000|
|        Shayam|  23|         2| 12000|
|        Pritam|  34|         3| 54000|
|       Pratham|  45|         5| 23000|
|        Greece|  65|         3| 13000|
|        Nebula|  45|         5| 63000|
|         Sohan|  32|         3| 52000|
|         Mohan|  12|         1| 51000|
|       Nishant|  14|         2| 64000|
|       Krishna|  15|         6| 12000|
|        Kanaha|  16|         7| 31000|
|           Sam|  23|         4| 34000|
|         Suhan|  35|        23| 54000|
|         Levan|  36|        12| 73000|
|         Devan|  32|         3| 84000|
|          Ryan|  52|        12| 73000|
|         Aryan|  21|        11| 75000|
|       Shubham|  24|         3| 54000|
|        Deepak|  54|         2| 73000|
|          Atul|  23|        21| 43000|
|        Mayank|  43|         2| 60000|
|       Shivank|  29|         7| 50000|
|          Dtar|  42|         0| 80000|
|          Eyon|  13|         3| 98000|
|       singham|NULL|         9|  NULL|
|       roberto|  56|        87|  NULL|
|        johnny|  23|      NULL| 78000|
|Missing Values|  28|      NULL| 86000|
|Missing Values|NULL|         8|  NULL|
+--------------+----+----------+------+

In [ ]:
df_pysparkk.na.fill('Missing Values',['Name', 'Experience', 'Age', 'Salary']).show(35)

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Sahil|  23|        12| 30000|
|          Golu|  24|        12| 30000|
|           Ram|  22|         4| 25000|
|        Govind|  34|         1| 32000|
|        Shayam|  23|         2| 12000|
|        Pritam|  34|         3| 54000|
|       Pratham|  45|         5| 23000|
|        Greece|  65|         3| 13000|
|        Nebula|  45|         5| 63000|
|         Sohan|  32|         3| 52000|
|         Mohan|  12|         1| 51000|
|       Nishant|  14|         2| 64000|
|       Krishna|  15|         6| 12000|
|        Kanaha|  16|         7| 31000|
|           Sam|  23|         4| 34000|
|         Suhan|  35|        23| 54000|
|         Levan|  36|        12| 73000|
|         Devan|  32|         3| 84000|
|          Ryan|  52|        12| 73000|
|         Aryan|  21|        11| 75000|
|       Shubham|  24|         3| 54000|
|        Deepak|  54|         2| 73000|
|          Atul|  23|        21| 43000|
|        Mayank|  43|         2| 60000|
|       Shivank|  29|         7| 50000|
|          Dtar|  42|         0| 80000|
|          Eyon|  13|         3| 98000|
|       singham|NULL|         9|  NULL|
|       roberto|  56|        87|  NULL|
|        johnny|  23|      NULL| 78000|
|Missing Values|  28|      NULL| 86000|
|Missing Values|NULL|         8|  NULL|
+--------------+----+----------+------+

In [ ]:
df_pysparkk.show(35)

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Sahil|  23|        12| 30000|
|   Golu|  24|        12| 30000|
|    Ram|  22|         4| 25000|
| Govind|  34|         1| 32000|
| Shayam|  23|         2| 12000|
| Pritam|  34|         3| 54000|
|Pratham|  45|         5| 23000|
| Greece|  65|         3| 13000|
| Nebula|  45|         5| 63000|
|  Sohan|  32|         3| 52000|
|  Mohan|  12|         1| 51000|
|Nishant|  14|         2| 64000|
|Krishna|  15|         6| 12000|
| Kanaha|  16|         7| 31000|
|    Sam|  23|         4| 34000|
|  Suhan|  35|        23| 54000|
|  Levan|  36|        12| 73000|
|  Devan|  32|         3| 84000|
|   Ryan|  52|        12| 73000|
|  Aryan|  21|        11| 75000|
|Shubham|  24|         3| 54000|
| Deepak|  54|         2| 73000|
|   Atul|  23|        21| 43000|
| Mayank|  43|         2| 60000|
|Shivank|  29|         7| 50000|
|   Dtar|  42|         0| 80000|
|   Eyon|  13|         3| 98000|
|singham|NULL|         9|  NULL|
|roberto|  56|        87|  NULL|
| johnny|  23|      NULL| 78000|
|   NULL|  28|      NULL| 86000|
|   NULL|NULL|         8|  NULL|
+-------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [ ]:
imputer.fit(df_pysparkk).transform(df_pysparkk).show(35)

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Sahil|  23|        12| 30000|         23|                12|         30000|
|   Golu|  24|        12| 30000|         24|                12|         30000|
|    Ram|  22|         4| 25000|         22|                 4|         25000|
| Govind|  34|         1| 32000|         34|                 1|         32000|
| Shayam|  23|         2| 12000|         23|                 2|         12000|
| Pritam|  34|         3| 54000|         34|                 3|         54000|
|Pratham|  45|         5| 23000|         45|                 5|         23000|
| Greece|  65|         3| 13000|         65|                 3|         13000|
| Nebula|  45|         5| 63000|         45|                 5|         63000|
|  Sohan|  32|         3| 52000|         32|                 3|         52000|
|  Mohan|  12|         1| 51000|         12|                 1|         51000|
|Nishant|  14|         2| 64000|         14|                 2|         64000|
|Krishna|  15|         6| 12000|         15|                 6|         12000|
| Kanaha|  16|         7| 31000|         16|                 7|         31000|
|    Sam|  23|         4| 34000|         23|                 4|         34000|
|  Suhan|  35|        23| 54000|         35|                23|         54000|
|  Levan|  36|        12| 73000|         36|                12|         73000|
|  Devan|  32|         3| 84000|         32|                 3|         84000|
|   Ryan|  52|        12| 73000|         52|                12|         73000|
|  Aryan|  21|        11| 75000|         21|                11|         75000|
|Shubham|  24|         3| 54000|         24|                 3|         54000|
| Deepak|  54|         2| 73000|         54|                 2|         73000|
|   Atul|  23|        21| 43000|         23|                21|         43000|
| Mayank|  43|         2| 60000|         43|                 2|         60000|
|Shivank|  29|         7| 50000|         29|                 7|         50000|
|   Dtar|  42|         0| 80000|         42|                 0|         80000|
|   Eyon|  13|         3| 98000|         13|                 3|         98000|
|singham|NULL|         9|  NULL|         31|                 9|         51965|
|roberto|  56|        87|  NULL|         56|                87|         51965|
| johnny|  23|      NULL| 78000|         23|                 9|         78000|
|   NULL|  28|      NULL| 86000|         28|                 9|         86000|
|   NULL|NULL|         8|  NULL|         31|                 8|         51965|
+-------+----+----------+------+-----------+------------------+--------------+

Pyspark Dataframes

1:- Filter Operation
2:- &,|,==
3:- ~

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('Test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Aryan | 31|        10| 30000|
| Singham| 30|         8| 25000|
|   Sahil| 23|         5| 20000|
| Shivank| 35|         6| 20000|
|  Vector| 25|         9| 15000|
|   Karan| 27|         7| 18000|
|   Kumar| 23|        12| 40000|
|Tripathi| 19|        17| 55000|
|   Arjun| 32|        20| 60000|
|    Bhim| 52|         9| 30000|
|  Shayam| 32|         1| 20000|
|     Ram| 29|         2| 90000|
+--------+---+----------+------+

In [ ]:
### Filter Operations
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sahil| 23|         5| 20000|
|Shivank| 35|         6| 20000|
| Vector| 25|         9| 15000|
|  Karan| 27|         7| 18000|
| Shayam| 32|         1| 20000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter("Salary<=20000").select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sahil| 23|
|Shivank| 35|
| Vector| 25|
|  Karan| 27|
| Shayam| 32|
+-------+---+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']>=20000) & (df_pyspark['Salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Aryan | 31|        10| 30000|
| Singham| 30|         8| 25000|
|   Sahil| 23|         5| 20000|
| Shivank| 35|         6| 20000|
|   Kumar| 23|        12| 40000|
|Tripathi| 19|        17| 55000|
|   Arjun| 32|        20| 60000|
|    Bhim| 52|         9| 30000|
|  Shayam| 32|         1| 20000|
|     Ram| 29|         2| 90000|
+--------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']>=20000) & (df_pyspark['Salary']<=40000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Aryan | 31|        10| 30000|
|Singham| 30|         8| 25000|
|  Sahil| 23|         5| 20000|
|Shivank| 35|         6| 20000|
|  Kumar| 23|        12| 40000|
|   Bhim| 52|         9| 30000|
| Shayam| 32|         1| 20000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']>=20000) | (df_pyspark['Salary']<=40000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Aryan | 31|        10| 30000|
| Singham| 30|         8| 25000|
|   Sahil| 23|         5| 20000|
| Shivank| 35|         6| 20000|
|  Vector| 25|         9| 15000|
|   Karan| 27|         7| 18000|
|   Kumar| 23|        12| 40000|
|Tripathi| 19|        17| 55000|
|   Arjun| 32|        20| 60000|
|    Bhim| 52|         9| 30000|
|  Shayam| 32|         1| 20000|
|     Ram| 29|         2| 90000|
+--------+---+----------+------+

In [ ]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Aryan | 31|        10| 30000|
| Singham| 30|         8| 25000|
|   Kumar| 23|        12| 40000|
|Tripathi| 19|        17| 55000|
|   Arjun| 32|        20| 60000|
|    Bhim| 52|         9| 30000|
|     Ram| 29|         2| 90000|
+--------+---+----------+------+

Tutorial 5 now

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyyspark=spark.read.csv('NewData1.csv', header=True, inferSchema=True)

In [ ]:
df_pyyspark.show()

+---------+-----------+------+
|     Name|Departments|salary|
+---------+-----------+------+
|    Aryan|        IOT| 10000|
|    Aryan|         ML| 20000|
|    Sahil|         AI| 14000|
|    Sahil|        IOT|320000|
|     Sonu|        CSE|420000|
| Shashank|        IOT| 32300|
|Sudhanshu|     Python| 23000|
|     Sonu|    Machine|123000|
|Sudhanshu| Developers| 53000|
|   Sundar|        IOT| 98000|
|    Aryan|         ML|910000|
|   Sundar|         AI|434000|
| Shashank|        CSE| 32000|
+---------+-----------+------+

In [ ]:
df_pyyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
###Groupby
df_pyyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|    Aryan|     940000|
|    Sahil|     334000|
|   Sundar|     532000|
|Sudhanshu|      76000|
| Shashank|      64300|
|     Sonu|     543000|
+---------+-----------+

In [ ]:
df_pyyspark.groupBy('Departments').sum().show()

+-----------+-----------+
|Departments|sum(salary)|
+-----------+-----------+
|        IOT|     460300|
| Developers|      53000|
|         AI|     448000|
|        CSE|     452000|
|    Machine|     123000|
|     Python|      23000|
|         ML|     930000|
+-----------+-----------+

In [ ]:
df_pyyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    4|
| Developers|    1|
|         AI|    2|
|        CSE|    2|
|    Machine|    1|
|     Python|    1|
|         ML|    2|
+-----------+-----+

In [ ]:
df_pyyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    2489300|
+-----------+

In [ ]:
df_pyyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|    Aryan|     910000|
|    Sahil|     320000|
|   Sundar|     434000|
|Sudhanshu|      53000|
| Shashank|      32300|
|     Sonu|     420000|
+---------+-----------+

In [ ]:
df_pyyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|    Aryan|      10000|
|    Sahil|      14000|
|   Sundar|      98000|
|Sudhanshu|      23000|
| Shashank|      32000|
|     Sonu|     123000|
+---------+-----------+

In [ ]:
df_pyyspark.groupBy('Name').avg().show()

+---------+-----------------+
|     Name|      avg(salary)|
+---------+-----------------+
|    Aryan|313333.3333333333|
|    Sahil|         167000.0|
|   Sundar|         266000.0|
|Sudhanshu|          38000.0|
| Shashank|          32150.0|
|     Sonu|         271500.0|
+---------+-----------------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Missing').getOrCreate()

In [ ]:
training = spark.read.csv('asitis.csv', header=True, inferSchema=True)

In [ ]:
training.show()

+------+---+----------+------+
| Name |age|Experience|Salary|
+------+---+----------+------+
| Aryan| 31|        10| 30000|
| Krish| 30|         8| 25000|
| Sahil| 29|         4| 20000|
| Sunny| 24|         3| 20000|
|  Paul| 21|         1| 15000|
|Harsha| 23|         2| 18000|
+------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training.columns

['Name ', 'age', 'Experience', 'Salary']

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+------+---+----------+------+--------------------+
| Name |age|Experience|Salary|Independent Features|
+------+---+----------+------+--------------------+
| Aryan| 31|        10| 30000|         [31.0,10.0]|
| Krish| 30|         8| 25000|          [30.0,8.0]|
| Sahil| 29|         4| 20000|          [29.0,4.0]|
| Sunny| 24|         3| 20000|          [24.0,3.0]|
|  Paul| 21|         1| 15000|          [21.0,1.0]|
|Harsha| 23|         2| 18000|          [23.0,2.0]|
+------+---+----------+------+--------------------+

In [ ]:
output.columns

['Name ', 'age', 'Experience', 'Salary', 'Independent Features']

In [ ]:
finalized_data=output.select("Independent Features", "Salary")

In [ ]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol="Independent Features", labelCol="Salary")
regressor=regressor.fit(train_data)

In [80]:
regressor.coefficients

DenseVector([172.4138, 1206.8966])

In [81]:
regressor.intercept

10172.413793103533

In [82]:
pred_results=regressor.evaluate(test_data)

In [83]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000| 16551.72413793104|
|          [24.0,3.0]| 20000|17931.034482758627|
|         [31.0,10.0]| 30000| 27586.20689655173|
+--------------------+------+------------------+

In [84]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(1977.0114942528683, 4068172.8101466303)